<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
    <h1>REGISTER</h1>
    {{> main}}

    <form enctype="application/json" action="/auth/register" method="POST" >
      
        <input type="text" name="email" placeholder="email">
        <input type="text" name="password" placeholder="password">
   
        
    <input type="submit">

    </form>
        {{message}}
  </body>
</html>