
<div>
    <a href="/">
        <input type="button" value="index">
    </a>
    <a href="/auth/login">
        <input type="button" value="LOGIN">
    </a>
     <a href="/auth/register">
         <input type="button" value="REGISTER">
    </a>
   <a href="/myPc">
         <input type="button" value="PAGINA BLOQUEADA">
    </a>
</div>