<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
    <h1>Mis computadoras</h1>
    {{#each data}}
          {{#if nuevaImagen}}
         <img src={{nuevaImagen}} alt="" width="400px" height="400px">
          {{/if}}
          {{/each}}

    {{> pcPartial}}
    
 
  </body>
</html>