<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  </head>
  <body>
    <h1>SubirMyPc</h1>
   
    {{> pcPartial}}

    <form enctype="multipart/form-data" action="" method="post">
 
      <input type="text" name="nombre" placeholder="nombre">
      <input type="text" name="descripcion" placeholder="descripcion">
      <input type="file" name="file">
      {{#each data}}
    <p> {{file}}</p>
      {{/each}}
      <input type="submit" value="subir al servidor">
    </form>
    
 
  </body>
</html>