<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
    <h1>SubirMyPc</h1>
   
    {{> pcPartial}}

    <form action="" method="post">

      <input type="text" name="nombre">
       <input type="text" name="descripcion">
      <input type="file" name="submit">
    <input type="submit" value="subir al servidor">
    </form>
    
 
  </body>
</html>